.BuildControl {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  padding: 5px;
  margin: 0 0.5rem;
  width: 5rem;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 0.5rem 1rem;
  width: 5rem;
}

.BuildControl .Less {
  background-color: #d39952;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 1rem;
  margin: 0.5 1rem;
  font-size: 1.2rem;
  color: white;
}

.BuildControl .More {
  background-color: #8f5e1e;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 1rem;
  margin: 0.5 1rem;
  font-size: 1.2rem;
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #daa972;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #99703f;
  color: white;
}
